<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.food.food_order_hotel_admin" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_top"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkyeatAdmin"
        tools:targetApi="31" >

        <activity
            android:name="com.food.food_order_hotel_admin.Activity.otpscreen"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.Hotel.HotelMenuActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.Settalmentbreakup"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.Homedashboard"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.hotel_settalment"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.pendingnew_payment"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.CollectCash"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.DelivaryBoy.DealiveryBoyTransitionHistroryActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.DelivaryBoy.DeliveryBoyOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.DelivaryBoy.DeliveryBoyMainActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.Hotel.HotelMainActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.LoginTypeActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.HotelListActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.DeliveryBoyActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Fragment.AllOrder"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.PendingPayment"
            android:exported="false" />
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.food.food_order_hotel_admin.Activity.OrderDetailActivity"
            android:exported="false" /> <!-- <service -->
        <!-- android:name=".FirebaseIDService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name=".MyBackgroundService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" /> -->
        <service
            android:name="com.food.food_order_hotel_admin.MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.food.food_order_hotel_admin.Activity.MyForegroundService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Activity.MyBroadcastReceiver"
            android:exported="true"
            tools:ignore="Instantiatable" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>